<h3>Restaurantes</h3>
<hr>
<div class="table-responsive-sm">
  <table class="table table-striped table-condensed table-sm">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of restaurants">
        <td><img [src]="item?.imagePath" height="30" width="30"></td>
        <td>{{item.name}}</td>
        <td class="text-center"> <button [routerLink]="['/admin/editar', item.id]" routerLinkActive="router-link-active"  type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
